
body {
  font-family: Arial, sans-serif;
  background-color: #162951; 
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
a {
  color: #080467; 
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
 
}


.top-header {
  width: 100%;
  background-color: #101c28;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #b7afaf;
}


.header-title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px; 
  text-align: left;
  
}



.form-container {
  margin-top: 100px; 
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

input[type="text"], input[type="password"] {
  padding: 10px;
  border: 1px solid #34495e; 
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #e74c3c; 
  outline: none;
}

.login-btn {
  background-color: #e74c3c; 
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.login-btn:hover {
  background-color: #c0392b; 
}


.error-message {
  color: #e74c3c; 
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}


input:focus {
  border-color: #e74c3c;
  outline: none;
}